.main-layout {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 4rem 1fr;
  height: 100vh;
  transition: all .3s;

  &.fold {
    &>.main-layout-content {
      grid-column: 1/-1;
    }

    &>.main-layout-aside {
      position: fixed;
      left: -100vw;
      visibility: hidden;
    }
  }

  &-header {
    grid-column: 1/-1;
    grid-area: 'header';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    background-color: #1A1A1A;

    &-left {
      display: flex;
      align-items: center;
      gap: 10px;

      &-fold-icon {
        font-size: 24px;
        cursor: pointer;

        &.fold {
          transform: rotate(180deg);
        }
      }
    }

    &-title {
      font-size: 1rem;
      font-weight: bolder;
    }
  }

  &-aside {
    background-color: #1A1A1A;
    padding: 1rem;



    &-item {
      background-color: #3C3C3C;
      text-align: center;
      padding: .3rem 0;
      border-radius: 12px;
      font-size: 1rem;
      transition: all .3s;

      &:hover {
        background-color: #484848;
      }

      &.select {
        background-color: #5F5F5F;
      }
    }
  }


  &-content {
    padding: 1rem;
  }
}